{% extends 'NURE_marks/index.html' %}

{% block content_for_user_type %}

    <p>Привет, {{ user }}, мы знаем, что вы - студент группы:

        {% if current_user %}
        {{  current_user.student_group }}

        {% else %}
            Студент не определился
        {% endif %}
        <p>У твоей группы вот такие баллы по всем предметам:
{#        {% for mark in group_marks %}#}
{#            <p>{{ mark.student }} - {{ mark.subject.subject }} - {{ mark.marks }}</p>#}
{#            {% for mark in discipline.ma %}#}
{#        {% endfor %}#}
        </p>
    </p>
    <li><a href="{% url 'account_logout' %}">Выйти</a></li>

{% endblock %}